pkgbase = hyprcaffeine
	pkgdesc = ☕ Idle inhibition utility for Hyprland — caffeine for your Wayland compositor
	pkgver = 0.8.4
	pkgrel = 2
	url = https://github.com/hbuddenberg/hyprcaffeine
	install = hyprcaffeine.install
	arch = any
	license = MIT
	depends = bash
	depends = jq
	depends = hyprland
	depends = hypridle
	depends = socat
	optdepends = gum: interactive menu and styled prompts
	optdepends = libnotify: desktop notifications
	optdepends = walker: menu frontend
	source = hyprcaffeine-0.8.4.tar.gz::https://github.com/hbuddenberg/hyprcaffeine/releases/download/v0.8.4/hyprcaffeine-0.8.4.tar.gz
	sha256sums = 0d39f8a598132db9e5eb858c390b4700df74b34d91c6ef3ef0a0946a7b835beb

pkgname = hyprcaffeine
