pkgbase = hyprcaffeine
	pkgdesc = ☕ Idle inhibition utility for Hyprland — caffeine for your Wayland compositor
	pkgver = 0.8.4
	pkgrel = 2
	url = https://github.com/hbuddenberg/hyprcaffeine
	install = hyprcaffeine.install
	arch = any
	license = MIT
	depends = bash
	depends = jq
	depends = hyprland
	depends = hypridle
	depends = socat
	optdepends = gum: interactive menu and styled prompts
	optdepends = libnotify: desktop notifications
	optdepends = walker: menu frontend
	source = hyprcaffeine-0.8.4.tar.gz::https://github.com/hbuddenberg/hyprcaffeine/releases/download/v0.8.4/hyprcaffeine-0.8.4.tar.gz
	sha256sums = e9778eb60d7fa9ccfe1f0a2a9002301e356dd7b0139732752985b0a518d118fa

pkgname = hyprcaffeine
