pkgbase = hyprcaffeine
	pkgdesc = ☕ Idle inhibition utility for Hyprland — caffeine for your Wayland compositor
	pkgver = 0.8.4
	pkgrel = 1
	url = https://github.com/hbuddenberg/hyprcaffeine
	install = hyprcaffeine.install
	arch = any
	license = MIT
	depends = bash
	depends = jq
	depends = hyprland
	depends = hypridle
	depends = socat
	optdepends = gum: interactive menu and styled prompts
	optdepends = libnotify: desktop notifications
	optdepends = walker: menu frontend
	source = hyprcaffeine-0.8.4.tar.gz::https://github.com/hbuddenberg/hyprcaffeine/releases/download/v0.8.4/hyprcaffeine-0.8.4.tar.gz
	sha256sums = b99951f78b004e7b9654eadeea0143f1ebf92c65e3f7965d4f64ec897b77146c

pkgname = hyprcaffeine
